body {
    background-color: #CAD9E5;
    box-sizing: border-box;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

.chat-card {
    width: 400px;
    height: 480px;
    background: white;
}

.chat-card__header {
    background: #6A96D8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 40px;
}

.chat-card__header__logo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    justify-content: space-between;
    width: 47%;
}

.chat-card__header__logo .point {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}

.chat-card__header__cross {
    color: #D3DFF4;
    cursor: pointer;
}

.chat-card__header__cross:hover {
    background-color: red;
}

.chat-card__content {
    padding: 15px 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.chat-card__date {
    display: flex;
    align-items: center;
    color: #ECE6E1;
    
}

.chat-card__date p {
    margin: 10px;
    font-size: 12px;
}

.chat-card__date .item {
    width: 100%;
    height: 1px;
    background-color: #DDDDDD;
}

.chat-card__message {
    font-size: 12px;
    font-weight: 500;
    width: 75%;
}

.chat-card__message__time {
    color: #AEB0B3;
    margin-bottom: 5px;
}

.chat-card__message__card {
    margin-top: 5px;
    padding: 10px 16px;
    color: #2F3636;
    position: relative;
}

.chat-card__message--left  {
    align-self: flex-start;
}

.chat-card__message--left .chat-card__message__card {
    background-color: #E6EDF6;
    border-radius: 0px 5px 5px 5px;
    align-self: flex-end;
}

.chat-card__message--right {
    align-self: flex-end;
}

.chat-card__message--right .chat-card__message__time {
    text-align: end;
}

.chat-card__message--right .chat-card__message__card {
    background-color:#F2F2F2 ;
    border-radius: 5px 0px 5px 5px;
    align-self: flex-end;
}

.chat-card__message--warning {
    background-color:#FFC2C1 ;
    border-radius: 5px 5px 5px 5px;
    align-self: flex-end;
    width: 47%;
}

.third {
    width: 22%;
}

.chat-card__message--warning .chat-card__message__card {
    padding: 2px 5px;
}


.chat-card__input {
 display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
}

.chat-card__input input {
    border: none;
}

.chat-card__input input:focus {
    outline: none;
}

.chat-card__input input::placeholder {
    color: #797E85;
    font-size: 14px;
    font-weight: 500;
}

.chat-card__input button {
    color: #6A96D8;
    border: none;
    background: white;
    font-weight: 800;
    cursor: pointer;
    letter-spacing:  2px;;
}

hr {
    margin-top: 15px;
    width:100%;
}

.triangle-left {
    clip-path: polygon(30% 0, 0 0, 30% 15%);
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 50px;
    background-color: #E6EDF6;
    top: 0;
    left: -5px;
}

.triangle-right {
    
    clip-path: polygon(30% 0, 0 0, 0 15%);

        display: inline-block;
        position: absolute;
        width: 30px;
        height: 50px;
        background-color:#F2F2F2 ;
        top: 0;
        right: -30px;
    
}